<%
  const { variant = 'primary', type = 'button', label = 'Submit', className = '' } = locals;
%>

<button class="btn btn--<%= variant %> <%= className %>" type="<%= type %>" >
  <%= label %>
</button>