<%
    const { title } = locals;
    const year = new Date().getFullYear();
%>

<footer class="footer">
    <div class="footer__container">
        <p class="footer__text">
            © <%= year %> <%= title %>
        </p>
    </div>
</footer>