<header class="header">
  <div class="header__container">

    <!-- Logo / Brand -->
    <a href="/" class="header__brand">
      <img src="/assets/logo.png" alt="Header logo" class="header__logo">
      <%- include('../elements/heading', 
          {
            level: 1,
            heading: title,
            classNames: ['header__title']
          }
      )%>
    </a>

    <!-- Navigation -->
    <%- include('../elements/navbar') %>

  </div>
</header>