<header class="header">
  <div class="header__container">

    <!-- Logo / Brand -->
    <div class="header__brand">
      <a href="/" class="header__logo">
        <%- include('../elements/heading', 
            {
              level: 1,
              heading: title,
              classNames: ['header__title']
            }
        )%>
      </a>
    </div>

    <!-- Navigation -->
    <%- include('../elements/navbar') %>

  </div>
</header>