<%
    if(locals.errors){%>
        <ul class="error-box">
            <% errors.forEach(error => {%>
                <li class="error-item"><%= error %></li>
            <%})%>
        </ul>
    <%}
%>