<%
  const { user } = locals;
%>

<nav class="navbar" aria-label="Main navigation">
  <div class="navbar__container">

    <ul class="navbar__list">
      <% if (user) { %>
        <li class="navbar__item">
          <a href="/profiles/<%= user.username %>" class="navbar__link">
            Profile
          </a>
        </li>

        <li class="navbar__item">
          <form action="/logout" method="POST">
            <%- include('./button', 
              {
                type: 'submit',
                variant: 'secondary',
                label: 'Logout'
              }
            )%>
          </form>
        </li>
      <% } else { %>
        <li class="navbar__item">
          <a href="/login" class="btn btn--secondary">Login</a>
        </li>
        <li class="navbar__item">
          <a href="/signup" class="btn btn--primary">
            Sign up
          </a>
        </li>
      <% } %>
    </ul>

  </div>
</nav>