<nav>
    <ul>
        <li>
            <a href="/">Posts</a>
        </li>
        <%
            if(locals.user){ %>
                <li>
                    <a href="<%= `/${user.username}` %>">Profile</a>
                </li>
            <%}
            else{%>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/signup">Sign up</a>
                    </li>
            <%}
        %>
    </ul>
</nav>