<nav>
    <ul>
        <li>
            <a href="/">Posts</a>
        </li>
        <%
            if(locals.user){ %>
                <li>
                    <form action="/logout" method="POST">
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <li>
                    <a href="<%= `/profiles/${user.username}` %>">Profile</a>
                </li>
            <%}
            else{%>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/signup">Sign up</a>
                    </li>
            <%}
        %>
    </ul>
</nav>