<section class="hero-section">
    <div class="hero-image"></div>
    <div class="hero-content">
        <p>
            Welcome back, <b><%= locals.user.username %></b>!
            Explore the board and see what's new!
        </p>
    </div>
</section>