<%
  const { user } = locals;
%>

<section class="hero">
  <div class="hero__content">
    <p class="hero__text">
      Have something on mind, <strong><%= user.username %></strong>?
      Share your thoughts.
    </p>
  </div>
</section>