<section class="hero">
    <div class="hero__content">
        <p class="hero__text">
            A space for members to share thoughts and ideas.
        </p>

        <a href="/signup" class="btn btn--primary">
            Get Started
        </a>
    </div>
</section>