<%
  const { posts = [], user, canCreatePost } = locals;
%>

<section class="posts">
    <%- include('../elements/heading', 
        {
            level: 2,
            variant: 'section',
            heading: 'Posts'
        }
    ) %>
    <% if (canCreatePost) { %>
        <a href="/posts/create" class="btn btn--primary">New post</a>
    <% } %>

    <% if (posts.length === 0) { %>
        <p class="posts__empty">No posts yet...</p>
    <% } 
    else { %>
        <ul class="posts__list">
            <% posts.forEach(post => { %>
                <% if (user) { %>
                    <a href="/posts/<%= post.id %>/details">
                        <%- include('./post', { post}) %>
                    </a>
                <% } 
                else { %>
                    <%- include('./post', {...locals, post}) %>
                <% } %>
            <% }) %>
        </ul>
    <% } %>
</section>