<%
  const { user, canBecomeMember } = locals;
%>

<section class="home">
  <%- include(`../sections/hero-${user ? canBecomeMember? 'in_member' : 'in' : 'out'}`) %>
  <%- include('../sections/posts') %>
</section>