<!DOCTYPE html>
<html lang="en">
    <%- include('../meta/head') %>
    <body>
        <%- include('../layout/header') %>
        <main>
            <%- include('../sections/posts') %>
        </main>
        <%- include('../layout/footer') %>
    </body>
</html>