<%
  const { user } = locals;
%>

<section class="home">
  <%- include('../elements/heading', 
    {
        level: 1,
        heading: 'Veil Board'
    }
  )%>

  <%- include(`../sections/hero-${user ? 'in' : 'out'}`) %>
  <%- include('../sections/posts') %>
</section>