<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/layout/head') %>
    <body>
        <%- include('../partials/layout/header') %>
        <main>
            <p>Initialized</p>
        </main>
        <%- include('../partials/layout/footer') %>
    </body>
</html>