<!DOCTYPE html>
<html lang="en">
    <%- include('../meta/head') %>
    <body>
        <%- include('../layout/header') %>
        <main>
            <form action="/membership/join" method="POST">
                <%- include('../elements/inputs/submit-button', {label: 'Become a member'}) %>
            </form>
        </main>
        <%- include('../layout/footer') %>
    </body>
</html>