<%
  const { profileUser, canCreatePost } = locals;
%>

<section class="profile">
    <!-- Header -->
    <div class="profile__header">
        <img class="profile__image" src="/assets/profile-placeholder.png" alt="<%= profileUser.username %>'s profile picture" >
        <div class="profile__info">
            <p class="profile__name"> @<%= profileUser.username %> </p>
            <div class="profile__roles">
                <% profileUser.roles.forEach(role => { %>
                    <span class="badge badge--role">
                        <%= role %>
                    </span>
                <% }) %>
            </div>
        </div>
    </div>

    <!-- Posts -->
    <%- include('../sections/posts') %>
</section>