/* ==================== RESET ==================== */
:root{
    scrollbar-gutter: stable;
}

*, *::after, *::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Inter", sans-serif;
}

image{
    display: block;
}

svg.icon{
    min-height: 24px;
}

/* ==================== TOKENS ==================== */
:root{
    /* ========== FONT ========== */
    /* Font sizes */
    --fs-xl: clamp(3rem, 2.75rem + 2vw, 3.5rem);
    --fs-lg:  clamp(2.25rem, 2rem + 1.5vw, 2.5rem);
    --fs-md:  clamp(1.75rem, 1rem + 1vw, 2rem);
    --fs-base: clamp(1.2rem, 1rem + 1vw, 1.5rem);
    --fs-sm: clamp(0.95rem, 0.75rem + 0.5vw, 1rem);

    /* Font Weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700; 

    
    /* ========== SPACING ========== */
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
    --space-6: 3rem;

    /* ========== RADIUS ========== */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;
    
    /* ========== COLORS ========== */
    /* Primitive */
    --grey-900: #111;
    --grey-800: #333;
    --grey-600: #666;
    --grey-400: #aaa;
    --grey-200: #e5e5e5;
    --grey-100: #f5f5f5;
    --white: #ffffff;

    --accent-500: ;
    --accent-300: ;
    --green-500: ;
    --red-500: ;

    /* Semantic colors */
    

    /* Shadows */
    --shadow-card: 0 1px 2px rgba(0,0,0,0.06),
                   0 4px 12px rgba(0,0,0,0.04);

    --shadow-lift-light: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    --shadow-lift-regular: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    --shadow-lift-heavy: 0 2px 2px 0 rgba(0, 0, 0, 0.25);

    --shadow-light: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    --shadow-regular: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    --shadow-heavy: 0 0 8px 0 rgba(0, 0, 0, 0.25);

    --shadow-inner-light: inset 0 0 8px 0 rgba(0, 0, 0, 0.08);
    --shadow-inner-regular: inset 0 0 8px 0 rgba(0, 0, 0, 0.15);
    --shadow-inner-heavy: inset 0 0 8px 0 rgba(0, 0, 0, 0.25);
}